.button{
    display: inline-block;
     margin: auto;
     padding: .6563rem 3rem;
     background-color: var(--button-Color);
     border-radius: 8px;
     &:hover{
        background-color: var(--button-hover );
     }
}


