.services{
  width: 100%;
  background-color: var(--background-gray);
 text-align: center;
 padding: 9.625rem 2.5rem 10rem 2.5rem;

}
.services h1{
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;

    
}
.services span{
    color: var(--logo-Color);
}
.services p{
    font-size: 16.7296px;
    line-height: 28px;
    margin-bottom: 80px;
}

.servicesCardDiv {
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    
}

@media(max-width:768px){
    .servicesCardDiv{
        grid-template-columns: repeat(2, 1fr);
    
    }
}

@media(max-width:390px){
    .services{
        padding: 10rem .5rem 10rem .5rem;
    }
    .servicesCardDiv{
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    
    
    }
}




